header {
  text-align: right;

  ul {
    padding-right: 50px;
    display: block;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.2);

    li {
      display: inline-block;
      margin: 10px;
      padding: 5px;

      a {
        font-weight: bold;
        color: red !important;
        text-decoration: none;
        font-size: 120%;
      }

      a:hover {
        color: blue !important;
      }
    }
  }
}
